@model IEnumerable<Pharmacita.Models.DrugViewModel >

@{
    ViewBag.Title = "GetDrugsBySeller";
}

@foreach (var gr in Model)
{
    <h1>@gr.DrugName </h1>
    <table class="table table-bordered table-hover ">
        <tr>
            <th>   اسم المشتري </th>
            <th>  نص الرساله </th>
            <th> تاريخ الارسال </th>
        </tr>
        @foreach (var item in gr.Items)
        {
            <tr>
                <td>
                @item.user.UserName
                </td>
                <td>
                    @item.Message
                </td>
                <td>
                    @item.BuyDate
                </td>
            </tr>
        }
    </table>
}