
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="">
        <a class="btn btn-primary" href="~/Users">
            Users
        </a>
    </div>
    <div class="">
        <a class="btn btn-primary" href="~/Views/Categories/Index.cshtml">
            Categories
        </a>
    </div>
    <div class="">
        <a class="btn btn-primary" href="~/Controllers/UsersController.cs">
            News
        </a>
    </div>
</body>
</html>
